<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>SendMessage</servlet-name>
        <servlet-class>SendMessage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adminAddFAQ</servlet-name>
        <servlet-class>adminAddFAQ</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adminlogin</servlet-name>
        <servlet-class>adminlogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditFAQ</servlet-name>
        <servlet-class>EditFAQ</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteFAQ</servlet-name>
        <servlet-class>DeleteFAQ</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ImageUpload</servlet-name>
        <servlet-class>ImageUpload</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveImage</servlet-name>
        <servlet-class>RemoveImage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ImageUploadGallery</servlet-name>
        <servlet-class>ImageUploadGallery</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveGalleryImage</servlet-name>
        <servlet-class>RemoveGalleryImage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditTestimonial</servlet-name>
        <servlet-class>EditTestimonial</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteTestimonial</servlet-name>
        <servlet-class>DeleteTestimonial</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adminAddCat</servlet-name>
        <servlet-class>adminAddCat</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addProd</servlet-name>
        <servlet-class>addProd</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updatesubcat</servlet-name>
        <servlet-class>updatesubcat</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>subSubProd</servlet-name>
        <servlet-class>subSubProd</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updatesubsubcatimg</servlet-name>
        <servlet-class>updatesubsubcatimg</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updatesubsubcat</servlet-name>
        <servlet-class>updatesubsubcat</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReplyQuery</servlet-name>
        <servlet-class>ReplyQuery</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adminAddTeam</servlet-name>
        <servlet-class>adminAddTeam</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adminEditTeam</servlet-name>
        <servlet-class>adminEditTeam</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adminEditTeamImage</servlet-name>
        <servlet-class>adminEditTeamImage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adminDeleteTeam</servlet-name>
        <servlet-class>adminDeleteTeam</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddTimings</servlet-name>
        <servlet-class>AddTimings</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditTimings</servlet-name>
        <servlet-class>EditTimings</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteTimings</servlet-name>
        <servlet-class>DeleteTimings</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddRules</servlet-name>
        <servlet-class>AddRules</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditRules</servlet-name>
        <servlet-class>EditRules</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteRules</servlet-name>
        <servlet-class>DeleteRules</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PasswordChangeAd</servlet-name>
        <servlet-class>PasswordChangeAd</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adminAddSubAdmin</servlet-name>
        <servlet-class>adminAddSubAdmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SubAdminDelete</servlet-name>
        <servlet-class>SubAdminDelete</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>subadminLogin</servlet-name>
        <servlet-class>subadminLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>sub_adminAddCat</servlet-name>
        <servlet-class>sub_adminAddCat</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>sub_addProd</servlet-name>
        <servlet-class>sub_addProd</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>sub_updatesubcat</servlet-name>
        <servlet-class>sub_updatesubcat</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>subSubProd_subAdmin</servlet-name>
        <servlet-class>subSubProd_subAdmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>sub_updatesubsubcatimg</servlet-name>
        <servlet-class>sub_updatesubsubcatimg</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>sub_updatesubsubcat</servlet-name>
        <servlet-class>sub_updatesubsubcat</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddTestimonial</servlet-name>
        <servlet-class>ems.AddTestimonial</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ForgotPassword</servlet-name>
        <servlet-class>ems.ForgotPassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignOut</servlet-name>
        <servlet-class>ems.SignOut</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserChangePassword</servlet-name>
        <servlet-class>ems.UserChangePassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminForgetPass</servlet-name>
        <servlet-class>AdminForgetPass</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SendMessage</servlet-name>
        <url-pattern>/SendMessage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adminAddFAQ</servlet-name>
        <url-pattern>/adminAddFAQ</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adminlogin</servlet-name>
        <url-pattern>/adminlogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditFAQ</servlet-name>
        <url-pattern>/EditFAQ</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteFAQ</servlet-name>
        <url-pattern>/DeleteFAQ</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ImageUpload</servlet-name>
        <url-pattern>/ImageUpload</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveImage</servlet-name>
        <url-pattern>/RemoveImage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ImageUploadGallery</servlet-name>
        <url-pattern>/ImageUploadGallery</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveGalleryImage</servlet-name>
        <url-pattern>/RemoveGalleryImage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditTestimonial</servlet-name>
        <url-pattern>/EditTestimonial</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteTestimonial</servlet-name>
        <url-pattern>/DeleteTestimonial</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adminAddCat</servlet-name>
        <url-pattern>/adminAddCat</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addProd</servlet-name>
        <url-pattern>/addProd</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updatesubcat</servlet-name>
        <url-pattern>/updatesubcat</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>subSubProd</servlet-name>
        <url-pattern>/subSubProd</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updatesubsubcatimg</servlet-name>
        <url-pattern>/updatesubsubcatimg</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updatesubsubcat</servlet-name>
        <url-pattern>/updatesubsubcat</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReplyQuery</servlet-name>
        <url-pattern>/ReplyQuery</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adminAddTeam</servlet-name>
        <url-pattern>/adminAddTeam</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adminEditTeam</servlet-name>
        <url-pattern>/adminEditTeam</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adminEditTeamImage</servlet-name>
        <url-pattern>/adminEditTeamImage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adminDeleteTeam</servlet-name>
        <url-pattern>/adminDeleteTeam</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddTimings</servlet-name>
        <url-pattern>/AddTimings</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditTimings</servlet-name>
        <url-pattern>/EditTimings</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteTimings</servlet-name>
        <url-pattern>/DeleteTimings</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddRules</servlet-name>
        <url-pattern>/AddRules</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditRules</servlet-name>
        <url-pattern>/EditRules</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteRules</servlet-name>
        <url-pattern>/DeleteRules</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PasswordChangeAd</servlet-name>
        <url-pattern>/PasswordChangeAd</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adminAddSubAdmin</servlet-name>
        <url-pattern>/adminAddSubAdmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SubAdminDelete</servlet-name>
        <url-pattern>/SubAdminDelete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>subadminLogin</servlet-name>
        <url-pattern>/subadminLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>sub_adminAddCat</servlet-name>
        <url-pattern>/sub_adminAddCat</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>sub_addProd</servlet-name>
        <url-pattern>/sub_addProd</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>sub_updatesubcat</servlet-name>
        <url-pattern>/sub_updatesubcat</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>subSubProd_subAdmin</servlet-name>
        <url-pattern>/subSubProd_subAdmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>sub_updatesubsubcatimg</servlet-name>
        <url-pattern>/sub_updatesubsubcatimg</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>sub_updatesubsubcat</servlet-name>
        <url-pattern>/sub_updatesubsubcat</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddTestimonial</servlet-name>
        <url-pattern>/AddTestimonial</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ForgotPassword</servlet-name>
        <url-pattern>/ForgotPassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignOut</servlet-name>
        <url-pattern>/SignOut</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserChangePassword</servlet-name>
        <url-pattern>/UserChangePassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminForgetPass</servlet-name>
        <url-pattern>/AdminForgetPass</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
